In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)
# New index will be filled will zero ******

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index =[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
ser3.reindex(ranger, method='ffill') #forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], 
                   columns= ['col1', 'col2', 'col3', 'col4', 'col5'])

In [12]:
dframe

       col1      col2      col3      col4      col5
A -0.564043  0.192454  0.487279  1.083012  1.165082
B -0.104139  0.659037  0.480316  0.214126  0.005152
D -0.679462 -0.864379  0.604549 -1.122875  0.742412
E -0.466450 -1.297715 -0.356676  1.301722 -0.528849
F -1.603707  1.467359  1.931330  1.300851  0.718165

In [13]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.564043  0.192454  0.487279  1.083012  1.165082
B -0.104139  0.659037  0.480316  0.214126  0.005152
C       NaN       NaN       NaN       NaN       NaN
D -0.679462 -0.864379  0.604549 -1.122875  0.742412
E -0.466450 -1.297715 -0.356676  1.301722 -0.528849
F -1.603707  1.467359  1.931330  1.300851  0.718165

In [14]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [15]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.564043  0.192454  0.487279  1.083012  1.165082   NaN
B -0.104139  0.659037  0.480316  0.214126  0.005152   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.679462 -0.864379  0.604549 -1.122875  0.742412   NaN
E -0.466450 -1.297715 -0.356676  1.301722 -0.528849   NaN
F -1.603707  1.467359  1.931330  1.300851  0.718165   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A -0.564043  0.192454  0.487279  1.083012  1.165082
B -0.104139  0.659037  0.480316  0.214126  0.005152
D -0.679462 -0.864379  0.604549 -1.122875  0.742412
E -0.466450 -1.297715 -0.356676  1.301722 -0.528849
F -1.603707  1.467359  1.931330  1.300851  0.718165

In [17]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]  #Faster way to above steps

       col1      col2      col3      col4      col5  col6
A -0.564043  0.192454  0.487279  1.083012  1.165082   NaN
B -0.104139  0.659037  0.480316  0.214126  0.005152   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.679462 -0.864379  0.604549 -1.122875  0.742412   NaN
E -0.466450 -1.297715 -0.356676  1.301722 -0.528849   NaN
F -1.603707  1.467359  1.931330  1.300851  0.718165   NaN